<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-thumbnail slot="end">
      <img src="../assets/images/logobola.png" />
    </ion-thumbnail>
    <ion-title text-center>{{labels.titulo[idiomaPadrao]}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h2>{{labels.versao[idiomaPadrao]}}: 1.1.1</h2>
  <h2>{{labels.criadopor[idiomaPadrao]}}: Coisas Digitais</h2>
  <h2>{{labels.contato[idiomaPadrao]}}: gabriel@coisasdigitais.com.br</h2>

  <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a></div>
</ion-content>

