<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-thumbnail slot="end">
      <img src="../assets/images/logobola.png" />
    </ion-thumbnail>
    <ion-title text-center>Sobre o app</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h2>Versão: 1.0.6</h2>
  <h2>Criado por: Coisas Digitais</h2>
  <h2>Contato: gabriel@coisasdigitais.com.br</h2>

  <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a></div>
</ion-content>

