<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-thumbnail slot="end">
      <img src="../assets/images/logobola.png" />
    </ion-thumbnail>
    <ion-title style="font-size: small" text-center
      >{{labels.labelCompleteSuaAula[idiomaPadrao]}}, {{ nomeinstrutor }}</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed" *ngIf="mostrarBotoes">
    <ion-fab-button (click)="backPage()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="mostrarBotoes">
    <ion-fab-button (click)="refresh()">
      <ion-icon name="refresh"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-label>
    <h2>{{labels.labelTecnicasDaAula[idiomaPadrao]}}:</h2>
  </ion-label>
  <br />

  <ul *ngFor="let _tecnica of tecnicasMostrar">
    <li *ngIf="_tecnica.tecnicaextra == 0">{{ _tecnica.nome }}</li>
  </ul>

  <h2 *ngIf="temExtra">{{labels.labelTecnicasExtras[idiomaPadrao]}}:</h2>

  <ul *ngFor="let _tecnica of tecnicasMostrar">
    <li *ngIf="_tecnica.tecnicaextra == 1">{{ _tecnica.nome }}</li>
  </ul>

  <ion-chip
    ><ion-label>{{labels.labelDataDaAula[idiomaPadrao]}}: {{ aula.datetime }}</ion-label></ion-chip
  >

  <ion-searchbar
    [(ngModel)]="searchTerm"
    (ngModelChange)="teste()"
  ></ion-searchbar>
<ion-button (click)="filtra()" expand="full" id="pesquisar">
  {{labels.labelPesquisarAlunos[idiomaPadrao]}}
</ion-button>
  <ng-container *ngIf="aula">
      <ion-card>
        <ion-content class="lista">
          <ion-list *ngFor="let aluno of aula.alunos">
            <ion-item>
              <ion-checkbox
                slot="end"
                (click)="onCheck(aluno.nome, aluno.presenca)"
                [(ngModel)]="aluno.presenca"
              ></ion-checkbox>
              <ion-label>
                <h2>{{ aluno.nome }}</h2>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-card>
  </ng-container>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div id="center">
      <ion-button
        expanp="block"
        class="botao"
        id="botao_registrar"
        size="large"
        disabled="true"
        (click)="registrar()"
        ><ion-icon slot="end" name="clipboard"></ion-icon>{{labels.labelRegistrar[idiomaPadrao]}}</ion-button
      >
    </div>
  </ion-toolbar>
</ion-footer>
