<ion-header>
  <ion-toolbar>
    <ion-title>{{labels.titulo[idiomaPadrao]}}</ion-title>
  </ion-toolbar>

  <ion-searchbar
    [(ngModel)]="searchTerm"
    (ionChange)="setFilteredItems()"
  ></ion-searchbar>
</ion-header>

<ion-content padding>
  <ion-list *ngFor="let tecnica of itemsFiltrados">
    <ion-item>
      <ion-checkbox slot="end" [(ngModel)]="tecnica.incluir"></ion-checkbox>
      <ion-label class="ion-text-wrap">
        <h2>{{ tecnica.nome }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer no-shadow>
  <ion-toolbar position="bottom">
    <ion-button expand="full" (click)="adicionar()" color="dark">
      {{labels.adicionar[idiomaPadrao]}}
    </ion-button>

    <ion-button expand="full" (click)="dismiss()">
      {{labels.fechar[idiomaPadrao]}}
    </ion-button>
  </ion-toolbar>
</ion-footer>
