<ion-header>
  <ion-toolbar>
    <ion-title>{{labels.titulo[idiomaPadrao]}}</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content padding>
 
  <ion-list *ngFor="let categoria of tecnicas">
      
    
        <h1 text-center><b>{{ categoria.nome }}</b></h1>
        <ion-list *ngFor="let tecnica of categoria.tecnicas">
          <ion-item>
            {{tecnica.nome}}
            <ion-checkbox slot="end" [(ngModel)]="tecnica.incluir" (ionChange)="insereTecnicas()"></ion-checkbox>
         </ion-item>
         </ion-list>
  </ion-list>
</ion-content>

<ion-footer no-shadow>
  <ion-toolbar position="bottom">
    <ion-button expand="full" (click)="dismiss()">
      Fechar
    </ion-button>
  </ion-toolbar>
</ion-footer>
