<ion-header class="fonte">

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-thumbnail slot="end">
      <img src="../assets/images/logobola.png">
    </ion-thumbnail>
    <ion-title text-center>Check-in</ion-title>
  </ion-toolbar>



</ion-header>

<ion-content  *ngIf="checkin_==false" padding>

    <ion-list *ngFor="let aula of conteudo">

<ion-card>
                <ion-card-header>
                  <ion-card-title>Instrutor: {{aula.nomeinstrutor}}</ion-card-title>
                  <ion-card-content>
                    Descrição da aula: {{aula.descricao}}
                    </ion-card-content>
<ion-button (click)="checkin(aula.id,aula.idinstrutor)">
  Fazer Check-In
</ion-button>
                </ion-card-header>
        </ion-card>

      </ion-list>


    

</ion-content>
<ion-content  *ngIf="checkin_" padding>
    <ion-list *ngFor="let aula of conteudo">

        <ion-card>
                        <ion-card-header>
                          <ion-card-title>Instrutor: {{aula.nomeinstrutor}}</ion-card-title>
                          <ion-card-content>
                            Descrição da aula: {{aula.descricao}}
                            </ion-card-content>
        <ion-button (click)="cancelar(aula.idcheckin)">
          Cancelar checkin!
        </ion-button>
                        </ion-card-header>
                </ion-card>
        
              </ion-list>
        
</ion-content>