


<ion-app>
<style>

ion-button{
  margin-top: 3%;
}



</style>


    <ion-menu contentId="content1" side="start">
        <ion-header>
          <ion-toolbar  color="primary">
            <ion-title text-center>Olá, {{this.intrutor.getNome()}}</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content color="dark">
         

<ion-button expand="full" (click)="logoff()">
    <ion-icon slot="start" name="log-out"></ion-icon>
  Logout
</ion-button>

<ion-button expand="full" (click)="logoff()">
  <ion-icon slot="start" name="log-out"></ion-icon>
Mudar perfil
</ion-button>




        </ion-content>
      </ion-menu>
  <ion-router-outlet id="content1" main></ion-router-outlet>
</ion-app>
