@import url('https://fonts.googleapis.com/css?family=Montserrat');

.fonte{
    font-family: 'Montserrat', sans-serif;
}



.options{
    height: 9%;
    margin-top: 3vh;

}

.lista{
    height: 40vh;
}
