<ion-header class="fonte">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-thumbnail slot="end">
      <img src="../assets/images/logobola.png" />
    </ion-thumbnail>
    <ion-title text-center>{{ labels.titulo[idiomaPadrao] }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content onload="evento()" padding class="fonte">
  <ion-card padding>
    <div *ngIf="instrutor.getAulaAberta() == true">
      <ion-label style="margin-top: 20px;"
        >{{ labels.data[idiomaPadrao] }}: {{ data_aula }}</ion-label
      >

      <ion-label>
        <h2>{{ labels.tecnicas[idiomaPadrao] }}:</h2>
      </ion-label>
      <br />

      <ion-content class="lista">
        <ion-list *ngFor="let _tecnica of tecnicasVimeo">
          <ion-item 
            (click)="abreVideo(_tecnica.idvimeo, _tecnica.senhavimeo)"
            class="item item-text-wrap ion-activatable"
          >
            <ion-item class="ion-text-wrap">{{ _tecnica.nome }}</ion-item>
            <ion-ripple-effect type="unbounded"></ion-ripple-effect>
          </ion-item>
        </ion-list>
        <ng-container *ngIf="checkAvancada(tecnicasVimeoAvancadas)" >
        
        <ion-item class="centertext"><h4><b>{{ labels.advancadas[idiomaPadrao] }}</b></h4></ion-item>
        <ion-list *ngFor="let _tecnica of tecnicasVimeoAvancadas">
          <ion-item 
            (click)="abreVideo(_tecnica.idvimeo, _tecnica.senhavimeo)"
            class="item item-text-wrap ion-activatable"
          >
            <ion-item class="ion-text-wrap">{{ _tecnica.nome }}</ion-item>
            <ion-ripple-effect type="unbounded"></ion-ripple-effect>
          </ion-item>
        </ion-list>
      </ng-container>
      </ion-content>


    </div>
    <div *ngIf="instrutor.getAulaAberta() == false">
      <ion-card-header text-center>
        <ion-card-title style="font-size:20px" text-wrap
          >{{labels.semaulashead[idiomaPadrao]}}.</ion-card-title
        >
        <ion-card-subtitle>{{labels.semaulasmsg[idiomaPadrao]}}!</ion-card-subtitle>
      </ion-card-header>
    </div>
  </ion-card>

  <!-- <ion-button size="medium" style="--background: #287a9d" expand="block" class="options">
   Biblioteca de vídeos
    <ion-icon name="bookmarks" slot="end"></ion-icon>
  </ion-button>
  <ion-button size="medium" style="--background: #287a9d" expand="block" class="options">
    Evolução dos Alunos
    <ion-icon name="arrow-up" slot="end"></ion-icon>
  </ion-button>
-->
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div *ngIf="instrutor.getAulaAberta() == true">
      <ion-button
        size="default"
        color="dark"
        expand="block"
        (click)="completarAula()"
        >{{labels.lista[idiomaPadrao]}} <ion-icon name="list"></ion-icon>
      </ion-button>
      <ion-button
        color="dark"
        size="default"
        expand="block"
        [routerLink]="['/qr']"
        ><ion-icon slot="start" name="qr-scanner"></ion-icon>{{labels.qr[idiomaPadrao]}}</ion-button
      >
      <ion-button color="success" expand="block" (click)="checkins()"
        >{{labels.ver[idiomaPadrao]}}</ion-button
      >
      <ion-button expand="block" size="default" (click)="concluir()"
        ><ion-icon slot="end" name="checkmark"></ion-icon>{{labels.concluir[idiomaPadrao]}}</ion-button
      >
    </div>
    <div *ngIf="instrutor.getAulaAberta() == false">
      <ion-button
        size="large"
        style="--background: black;"
        expand="block"
        (click)="novaAula()"
        >{{labels.adicionar[idiomaPadrao]}}</ion-button
      >
      <ion-button
        size="large"
        color="success"
        expand="block"
        (click)="checkins()"
        >{{labels.ver[idiomaPadrao]}}</ion-button
      >
    </div>
  </ion-toolbar>
</ion-footer>
