<ion-header class="fonte">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-thumbnail slot="end" style="margin-right: 10px;">
      <img src="../assets/images/logobola.png" />
    </ion-thumbnail>
    <ion-title text-center>{{ labels.titulo[idiomaPadrao] }}</ion-title>
  </ion-toolbar>
</ion-header>
<body>

  <ion-card   *ngIf="instrutor.getAulaAberta() == true" padding>
   
      <ion-label style="margin-top: 20px;"
        >{{ labels.data[idiomaPadrao] }}: {{ data_aula }}</ion-label
      >

      <ion-label>
        <h2>{{ labels.tecnicas[idiomaPadrao] }}:</h2>
      </ion-label>
      <br />

      
        <ion-list *ngFor="let _tecnica of tecnicasVimeo">
          <ion-item 
            (click)="abreVideo(_tecnica.idvimeo, _tecnica.senhavimeo)"
            class="item item-text-wrap ion-activatable"
          >
            <ion-item class="ion-text-wrap">{{ _tecnica.nome }}</ion-item>
            <ion-ripple-effect type="unbounded"></ion-ripple-effect>
          </ion-item>
        </ion-list>
      
  </ion-card>

  


  <div *ngIf="instrutor.getAulaAberta() == false">
    <ion-card-header text-center>
      <ion-card-title style="font-size:23px; font-family: 'Montserrat'; color: #202020; font-weight: 300; line-clamp: 1;" 
        >{{labels.semaulashead[idiomaPadrao]}}.</ion-card-title
      >
      <ion-card-subtitle style="font-size:20px; font-family: 'Montserrat'; color: #505050; font-weight: 300;">{{labels.semaulasmsg[idiomaPadrao]}}!</ion-card-subtitle>
    </ion-card-header>
    <ion-item-divider> 
    </ion-item-divider>
  </div>
  

  <!-- <ion-button size="medium" style="--background: #287a9d" expand="block" class="options">
   Biblioteca de vídeos
    <ion-icon name="bookmarks" slot="end"></ion-icon>
  </ion-button>
  <ion-button size="medium" style="--background: #287a9d" expand="block" class="options">
    Evolução dos Alunos
    <ion-icon name="arrow-up" slot="end"></ion-icon>
  </ion-button>
-->


<div class="botoes">
    <div *ngIf="instrutor.getAulaAberta() == true">
      <ion-button
        size="default"
        color="dark"
        expand="block"
        (click)="completarAula()"
        >{{labels.lista[idiomaPadrao]}} <ion-icon name="list"></ion-icon>
      </ion-button>
      <ion-button
        color="dark"
        size="default"
        expand="block"
        [routerLink]="['/qr']"
        ><ion-icon slot="start" name="qr-scanner"></ion-icon>{{labels.qr[idiomaPadrao]}}</ion-button
      >
      <ion-button color="success" expand="block" (click)="checkins()"
        >{{labels.ver[idiomaPadrao]}}</ion-button
      >
      <ion-button expand="block" size="default" (click)="concluir()"
        ><ion-icon slot="end" name="checkmark"></ion-icon>{{labels.concluir[idiomaPadrao]}}</ion-button
      >
    </div>
    <div *ngIf="instrutor.getAulaAberta() == false">
      <ion-button
        size="large"
        class="botao novaclasse"
        
        (click)="novaAula()"
        >{{labels.adicionar[idiomaPadrao]}}</ion-button
      >
      <ion-button
        size="large"
        class="botao vercheckin"
        
        (click)="checkins()"
        >{{labels.ver[idiomaPadrao]}}</ion-button
      >
    </div>
</div>
</body>