<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-thumbnail slot="end">
      <img src="../assets/images/logobola.png" />
    </ion-thumbnail>
    <ion-title style="font-size: medium" text-center
      >Metodos de Presenca</ion-title
    >
  </ion-toolbar>
</ion-header>

<style>
  ion-title {
    font-size: medium;
  }
</style>

<ion-content padding>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="backPage()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-grid class="centro">
    <ion-button
      class="botao"
      size="large"
      expand="block"
      [routerLink]="['/manutencao-aula']"
      ><ion-icon slot="start" name="list"></ion-icon>Lista</ion-button
    >

    <ion-button
      class="botao"
      size="large"
      expand="block"
      [routerLink]="['/pin']"
      ><ion-icon slot="start" name="keypad"></ion-icon>PIN</ion-button
    >

    <ion-button class="botao" size="large" expand="block" [routerLink]="['/qr']"
      ><ion-icon slot="start" name="qr-scanner"></ion-icon>Qr Code</ion-button
    >
  </ion-grid>
</ion-content>
