.my-select {
    min-width: 70%;
    }

h1{
margin-bottom: 10px;
}

ion-chip {
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
}

ion-card {
    border: 1px #d7d7d7 solid;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 1px 3px rgba(0,0,0,0.24);
}

ion-button {
    height: 40px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 300;
    box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 1px 3px rgba(0,0,0,0.24);
}