<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-thumbnail slot="end">
      <img src="../assets/images/logobola.png" />
    </ion-thumbnail>
    <ion-title text-center>{{labels.labelTitulo[idiomaPadrao]}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-chip
    ><ion-label>{{labels.labelDataDaAula[idiomaPadrao]}} : {{ _data }} </ion-label>
  </ion-chip>


  <br />

<ion-item>
  <ion-label  style="font-family: 'Montserrat';"  position="floating" text-center>{{labels.labelDescricaoAula[idiomaPadrao]}}</ion-label>
  <ion-textarea  type="text" [(ngModel)]="descricao_aula"></ion-textarea>
</ion-item>

  <h1 text-center><b>{{labels.tecfundamentals[idiomaPadrao]}}</b></h1>

  <ion-card style="background-color: rgb(223, 223, 223)">
    <ion-card-header>

      <ion-card-title class="ion-text-center" style="color: #981b1e"><b>{{labels.tecDefesaPessoal[idiomaPadrao]}}</b></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ng-container *ngIf="temAlgumaCategoria(instrutor.tecnicasFdp)">
      
      <ion-list  style="background-color: rgb(223, 223, 223)" *ngFor="let categoria of instrutor.tecnicasFdp">
        <ng-container *ngIf="categoriaTem(categoria.tecnicas)">
        
      <h1 text-center style="color: black;">  {{categoria.nome}}   </h1>
        <ion-list *ngFor="let tecnica of categoria.tecnicas" style="background-color: rgb(223, 223, 223); color: black;">
 
         <span> {{tecnica.nome}} </span>
  
        </ion-list>
      </ng-container>
      </ion-list>
    </ng-container>
 
      <ion-button size="default" (click)="mostraModal(FDP,'FDP')" expand="block">
    {{nomesRecebidos.FDP[idiomaPadrao]}}
       
      </ion-button>
    </ion-card-content>
    <ion-card-header>

      <ion-card-title class="ion-text-center" style="color: #981b1e"><b>{{labels.tecSolo[idiomaPadrao]}}</b></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
        <ng-container *ngIf="temAlgumaCategoria(instrutor.tecnicasFs)">
      
            <ion-list  style="background-color: rgb(223, 223, 223)" *ngFor="let categoria of instrutor.tecnicasFs">
              <ng-container *ngIf="categoriaTem(categoria.tecnicas)">
              
            <h1 text-center style="color: black;">  {{categoria.nome}}   </h1>
              <ion-list *ngFor="let tecnica of categoria.tecnicas" style="background-color: rgb(223, 223, 223); color: black;">
       
               <span> {{tecnica.nome}} </span>
        
              </ion-list>
            </ng-container>
            </ion-list>
          </ng-container>
      <ion-button size="default" (click)="mostraModal(FS,'FS')" expand="block">
        {{nomesRecebidos.FS[idiomaPadrao]}}
      </ion-button>
    </ion-card-content>
  </ion-card>

  <h1 text-center><b><ion-label>{{labels.tecavancadas[idiomaPadrao]}}</ion-label></b></h1>

  <ion-card style="background-color: rgb(223, 223, 223)">
    <ion-card-header>

      <ion-card-title class="ion-text-center" style="color: #981b1e"><b>{{labels.tecProj[idiomaPadrao]}}</b></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
        <ng-container *ngIf="temAlgumaCategoria(instrutor.tecnicasAp)">
      
            <ion-list  style="background-color: rgb(223, 223, 223)" *ngFor="let categoria of instrutor.tecnicasAp">
              <ng-container *ngIf="categoriaTem(categoria.tecnicas)">
              
            <h1 text-center style="color: black;">  {{categoria.nome}}   </h1>
              <ion-list *ngFor="let tecnica of categoria.tecnicas" style="background-color: rgb(223, 223, 223); color: black;">
       
               <span> {{tecnica.nome}} </span>
        
              </ion-list>
            </ng-container>
            </ion-list>
          </ng-container>
            <ion-button size="default" (click)="mostraModal(AP,'AP')" expand="block">
              {{nomesRecebidos.AP[idiomaPadrao]}}
      </ion-button>
    </ion-card-content>
    <ion-card-header>

      <ion-card-title class="ion-text-center" style="color: #981b1e"><b>{{labels.tecSolo[idiomaPadrao]}}</b></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
        <ng-container *ngIf="temAlgumaCategoria(instrutor.tecnicasAs)">
      
            <ion-list  style="background-color: rgb(223, 223, 223)" *ngFor="let categoria of instrutor.tecnicasAs">
              <ng-container *ngIf="categoriaTem(categoria.tecnicas)">
              
            <h1 text-center style="color: black;">  {{categoria.nome}}   </h1>
              <ion-list *ngFor="let tecnica of categoria.tecnicas" style="background-color: rgb(223, 223, 223); color: black;">
       
               <span> {{tecnica.nome}} </span>
        
              </ion-list>
            </ng-container>
            </ion-list>
          </ng-container>
      <ion-button size="default" (click)="mostraModal(AS,'AS')" expand="block">
        {{nomesRecebidos.AS[idiomaPadrao]}}
      </ion-button>
    </ion-card-content>
  </ion-card>

  

  <br /><br /><br />

  <ion-footer vertical="bottom">
    <ion-card *ngIf="instrutor.getIdPrograma() != null" padding>
      <ion-label position="stacked">
        <h2><b>{{labels.labelDetalhesAula[idiomaPadrao]}}</b></h2>
      </ion-label>
      <h2 id="tituloaula">
        <b> {{ aula_mostrada.titulo }} -></b>
      </h2>
      <ul id="tecnicaslista" *ngFor="let _tecnica of aula_mostrada.tecnicas">
        <li *ngIf="_tecnica.incluir == undefined" (click)="mostracom(_tecnica)">
          {{ _tecnica.nome }} <ng-container *ngIf="_tecnica.avancada==1"> - <b>{{labels.labelAvancada[idiomaPadrao]}}</b></ng-container>
       
        </li>
      </ul>
      <h2 *ngIf="this.instrutor.getIdTecnicas().length > 0">
        <b> Tecnicas Extra -></b>
      </h2>
      <ul id="tecnicaslista" *ngFor="let _tecnica of aula_mostrada.tecnicas">
        <li *ngIf="_tecnica.incluir != undefined" (click)="mostracom(_tecnica)">
          {{ _tecnica.nome }}  <ng-container *ngIf="_tecnica.avancada==1"> - <b>{{labels.labelAvancada[idiomaPadrao]}}</b></ng-container>
        </li>
      </ul>
    </ion-card>
  </ion-footer>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-toolbar>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="6">
            <ion-button expand="block" color="dark" (click)="voltar()"
              ><ion-icon slot="start" name="arrow-back"></ion-icon>
              {{labels.buttonVoltar[idiomaPadrao]}}
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button expand="block" color="dark" (click)="certeza()"
              ><ion-icon slot="start" name="arrow-forward"></ion-icon>
              {{labels.buttonCriarAula[idiomaPadrao]}}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-toolbar>
</ion-footer>
