<ion-header>
  <ion-toolbar color="primary">
    <ion-thumbnail slot="start">
      <img src="../assets/images/logobola.png" />
    </ion-thumbnail>
    <ion-title style="font-size: 15px;"> {{labels.titulo[idiomaPadrao]}} {{ diames }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list *ngFor="let _tecnica of tecnicasDia">
    <ion-item
      class="item item-text-wrap ion-activatable"
      (click)="abreVideo(_tecnica.idvimeo, _tecnica.senhavimeo)"
    >
      <ion-item class="ion-text-wrap">{{ _tecnica.title }}</ion-item>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer no-shadow>
  <ion-toolbar position="bottom">
    <ion-button expand="full" (click)="dismiss()">
      {{labels.fechar[idiomaPadrao]}}
    </ion-button>
  </ion-toolbar>
</ion-footer>
