// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Raleway');


*{
    font-family: "Montserrat",sans-serif;
}


.ion-color-vermelhosite {
    --ion-color-base: var(--ion-color-vermelhosite) !important;
    --ion-color-base-rgb: var(--ion-color-vermelhosite-rgb) !important;
    --ion-color-contrast: var(--ion-color-vermelhosite-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-vermelhosite-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-vermelhosite-shade) !important;
    --ion-color-tint: var(--ion-color-vermelhosite-tint) !important;
    }

    .monthview-selected{
        background-color: rgb(71, 71, 223) !important;
    }
    
    .monthview-primary-with-event {
        background-color: rgb(31, 182, 31) !important;

        
      }
