<ion-header >
  <ion-toolbar color="primary">
    <ion-thumbnail slot="start">
      <img src="../assets/images/logobola.png" />
    </ion-thumbnail>
    <ion-title>
    Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<body>
  
  <form #Form="ngForm" (ngSubmit)="onSubmit()" class="form">
    <!-- {{pessoa.user}} . {{pessoa.pass}} -->

    <ion-item-divider> 
    </ion-item-divider>
      <ion-input
        type="text"
        class="form-control"
        id="user"
        required
        [(ngModel)]="pessoa.user"
        name="user"
        placeholder="Login"
      ></ion-input>
    

 
    
      <ion-input
        type="password"
        id="pass"
        required
        [(ngModel)]="pessoa.pass"
        [ngModelOptions]="{ standalone: true }"
        name="pass"
        placeholder="Senha"
      >
      
    </ion-input>
    
    <ion-button
    type="submit"
    class="btn"
    >{{labels.login[idiomaPadrao]}}</ion-button
  >



    <br />
    <br />
    <ion-item slot="start" 
      ><span (click)="lembrarTrue()" >{{labels.lembrar[idiomaPadrao]}}</span>
      <ion-checkbox
        slot="end"
        name="lembrar"
        id="lembrar"
        [(ngModel)]="lembrar"
      ></ion-checkbox
    ></ion-item>

   
  </form>
</body>
