@import url('https://fonts.googleapis.com/css?family=Montserrat');

#login-button{
    margin-top: 40px;
    height: 60px;
}

.btn
{
    font-family: "Montserrat",sans-serif;
}

.form-label
{
 font-size: 18px;
 font-family: "Montserrat",sans-serif;
 
}
.form-control
{
    --padding-top: 10px; 
}
.form-item
{
    --padding-top: 15px;
}

